.chiliHalf {
  display: none; }

.chiliDouble {
  display: none; }

.recipeBtn {
  padding-top: 10px; }

.recipe {
  margin-top: 30px; }

#chili {
  display: none; }

body {
    font-family: monospace;
    background-image: url("../imgs/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}